table, th, tr{
    border: 1px solid;
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
    background-color: white;

}

caption{
    background-color: white;
}

table{
    width: 100%;
}

header{
    width: 100%;
    text-align: center;
    background-color: white;
}

html{
    background-color: #25355F;
}