html{
    background-color: #25355F;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: center;
}

header{
    background-color: aliceblue;
    width: 15%;

}

th, td{
    border: 1px solid;
    text-align: center;
    vertical-align: center;
    /*border-collapse: collapse;*/
}

th{
    width: 30%;
    background-color: #C0C0C0;
}

td{
    width: 30%;
    background-color: white;
}