*{
  margin:0;
  padding:0;
}

/*This doesn't work yet. Need to figure out how to use custom fonts*/
@font-face {
  font-family: 'Source Sans Pro';
  src: url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@300;700&display=swap);
}

  #welcome-page{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0px;
    margin: 0;
    font-size: 200px;
    color:rgb(8, 44, 128);
  }

  /* body #welcome-page{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-family: 'Inter';
    font: size 25px;
    color:rgb(8, 44, 128);
  } */

  .bg-image{
      content: "";
      background-image: url('../img/showcase.jpg');
      background-size: cover;
      position: absolute;
      top:0px;
      right:0px;
      bottom:0px;
      left:0px;
      opacity: 0.25;
  }

  #welcome-page h1{
    text-align:left;
    font-size:55px;
    line-height: 1.2;
    font-family: 'Source Sans Pro';
  }

  #welcome-page h2{
    font-size:40px !important;
    text-align:left;
    font-family: 'Source Sans Pro';
  }

  /* #GradeView h1{
    font-size: 200px;
    font-weight: lighter;
  } */