html{
    background-color: #25355F;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: center;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#dashboard-header .card{
    border: 0;
}

.card{
    background-color: #f0f0f0 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    font-weight: 500 !important;
}

.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
    display: block;
    box-sizing: border-box;
    color: #2c2c2c;
    font-size: 200px;
    line-height: 28px;
}


th, tr, td{
    border: 1px solid;
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    padding:3px;
    margin:25px;
}

th{
    background-color: #C0C0C0;
}

table{
    width: 100%;
    border-spacing: 15px;
}

header{
    vertical-align: center;
    width: 100%;
    color: #000000;
    font-style: bold;
    border-radius: 10px;
}

#dashboardTitle{
    font-size: calc(1.5rem + .5vw);
    font-weight: 450;
}

#addButton{
    width: 50;
    vertical-align: center;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    padding:5px;
    
}

#buttonSpan{
    background-color:  #25355F;
     outline: none; 
     border: none;
    
}

#assignGrades{
    text-align: left;
    font-size: 14px;
    margin-right: 100px;
    padding: 7px;
    
}

#viewGrades{
    text-align:right;
    padding: 7px;
    font-size: 14px;
    margin-right: 10px;
}

h2{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
}

#studentsSec{
    border-top: 2px solid black;
    padding: 10px;
}

