/* ul {
    list-style-type: none;
    margin: 0;
    margin-left: -9px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #323438;
    position: fixed;
    top: 0;
    width: 100%;
} */

/* li {
    float: left;
} */

/* li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: lightgray;
} */

li a:hover {
    background-color: lightgray;
}