html{
    background-color: #25355F;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: center;
}

header{
    background-color: aliceblue;
    border-radius: 10px;

}

th, td{
    border: 1px solid;
    text-align: center;
    vertical-align: center;
    /*border-collapse: collapse;*/
    border-radius: 8px;
}

th{
    background-color: #C0C0C0;
}

td{
    background-color: white;
}

#totalStudents{
    font-weight: bold;
}