html{
    background: linear-gradient(to top, rgba(3, 22, 68, 1), rgba(8, 44, 128));
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: center;
}

header{
    background-color: aliceblue;
    width: 30%;
    border-radius: 10px;

}

th, td{
    border: 1px solid;
    text-align: center;
    vertical-align: center;
    /*border-collapse: collapse;*/
    border-radius: 8px;
}

th{
    width: 30%;
    background-color: #C0C0C0;
}

td{
    width: 30%;
    background-color: white;
}

#totalStudents{
    font-weight: bold;
}