.gradient-custom {
    /* fallback for old browsers */
    background: rgb(125, 162, 243);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgb(167, 186, 237), rgb(125, 162, 243));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(165, 184, 238, 0.849), rgba(58, 100, 192, 0.74));
    /* background: linear-gradient(to top, rgb(167, 186, 237), rgb(125, 162, 243)); */

    background-size: cover;
    overflow-y: auto;
}

.schoolImage{
    background-image: url('../img/showcase.jpg');
      background-size: cover;
      position: absolute;
      top:0px;
      right:0px;
      bottom:0px;
      left:0px;
      opacity: 0.2;
}

#pageLink{
    background-color: rgb(88, 122, 181);
    color: white;
}