html{
    background-color: #25355F;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: center;
}

#dashboard-header .card{
    border: 0;
}

.card{
    background-color: #f0f0f0 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    font-weight: 500 !important;
}

.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
    display: block;
    box-sizing: border-box;
    color: #2c2c2c;
    font-size: 200px;
    line-height: 28px;
}


th, tr, td{
    border: 1px solid;
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    padding:3px;
    margin:25px;

}

th{
    background-color: #C0C0C0;
}

table{
    width: 100%;
    border-spacing: 15px;
}

header{
    vertical-align: center;
    width: 100%;
    color: #000000;
    font-style: bold;
    background-color: white;
    border-radius: 10px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    vertical-align: center;
    color: #000000;
    font-style: bold;
    background-color: #e2e1e1;
    border-radius: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.164);
}




